# Tests Report

![Tests badge](tests-badge.svg)

## Summary

- **Total Tests**: 51
- **Test Suites**: 34
- **Duration**: 768ms

## Test Suites

| Status | File                                             | Tests |  ✅  |  ❌  |  ⏭️ |  ⏳  |
| :----: | :----------------------------------------------- | :---: | :-: | :-: | :-: | :-: |
|    ✅   | `tests/index.test.ts`                            |   1   |  1  |  0  |  0  | 9ms |
|    ✅   | `tests/issues.test.ts`                           |   3   |  3  |  0  |  0  | 6ms |
|    ✅   | `tests/main.test.ts`                             |   7   |  7  |  0  |  0  | 9ms |
|    ✅   | `tests/pull_request.test.ts`                     |   5   |  5  |  0  |  0  | 5ms |
|    ✅   | `tests/utils/action-inputs.test.ts`              |   6   |  6  |  0  |  0  | 3ms |
|    ✅   | `tests/utils/add-labels.test.ts`                 |   3   |  3  |  0  |  0  | 5ms |
|    ✅   | `tests/utils/add-reactions.test.ts`              |   4   |  4  |  0  |  0  | 9ms |
|    ✅   | `tests/utils/create-comment.test.ts`             |   2   |  2  |  0  |  0  | 2ms |
|    ✅   | `tests/utils/fc-event.test.ts`                   |   6   |  6  |  0  |  0  | 2ms |
|    ✅   | `tests/utils/is-first-time-contributor.test.ts`  |   8   |  8  |  0  |  0  | 8ms |
|    ✅   | `tests/utils/is-supported-event.test.ts`         |   1   |  1  |  0  |  0  | 1ms |
|    ✅   | `tests/utils/was-the-first-contribution.test.ts` |   5   |  5  |  0  |  0  | 2ms |
