# Tests Report

![Tests badge](tests-badge.svg)

## Summary

- **Total Tests**: 52
- **Test Suites**: 34
- **Duration**: 745ms

## Test Suites

| Status | File                                             | Tests |  ✅  |  ❌  |  ⏭️ |   ⏳  |
| :----: | :----------------------------------------------- | :---: | :-: | :-: | :-: | :--: |
|    ✅   | `tests/index.test.ts`                            |   1   |  1  |  0  |  0  | 14ms |
|    ✅   | `tests/issues.test.ts`                           |   3   |  3  |  0  |  0  |  3ms |
|    ✅   | `tests/main.test.ts`                             |   7   |  7  |  0  |  0  |  6ms |
|    ✅   | `tests/pull_request.test.ts`                     |   5   |  5  |  0  |  0  |  4ms |
|    ✅   | `tests/utils/action-inputs.test.ts`              |   6   |  6  |  0  |  0  |  2ms |
|    ✅   | `tests/utils/add-labels.test.ts`                 |   3   |  3  |  0  |  0  |  3ms |
|    ✅   | `tests/utils/add-reactions.test.ts`              |   5   |  5  |  0  |  0  |  6ms |
|    ✅   | `tests/utils/create-comment.test.ts`             |   2   |  2  |  0  |  0  |  2ms |
|    ✅   | `tests/utils/fc-event.test.ts`                   |   6   |  6  |  0  |  0  |  1ms |
|    ✅   | `tests/utils/is-first-time-contributor.test.ts`  |   8   |  8  |  0  |  0  |  5ms |
|    ✅   | `tests/utils/is-supported-event.test.ts`         |   1   |  1  |  0  |  0  |  1ms |
|    ✅   | `tests/utils/was-the-first-contribution.test.ts` |   5   |  5  |  0  |  0  |  2ms |
