# Tests Report

![Tests badge](tests-badge.svg)

## Summary

- **Total Tests**: 51
- **Test Suites**: 28
- **Duration**: 371ms

## Test Suites

| Status | File                         | Tests |  ✅  |  ❌  |  ⏭️ |   ⏳  |
| :----: | :--------------------------- | :---: | :-: | :-: | :-: | :--: |
|    ✅   | `tests/index.test.ts`        |   1   |  1  |  0  |  0  |  6ms |
|    ✅   | `tests/issues.test.ts`       |   3   |  3  |  0  |  0  |  5ms |
|    ✅   | `tests/main.test.ts`         |   7   |  7  |  0  |  0  |  5ms |
|    ✅   | `tests/pull_request.test.ts` |   5   |  5  |  0  |  0  |  7ms |
|    ✅   | `tests/utils.test.ts`        |   35  |  35 |  0  |  0  | 12ms |
