# Tests Report

![Tests badge](assets/tests-badge.svg)

## Summary

- **Total Tests**: 37
- **Test Suites**: 24
- **Duration**: 379ms

## Test Suites

| Status | File                         | Tests |  ✅  |  ❌  |  ⏭️ |   ⏳  |
| :----: | :--------------------------- | :---: | :-: | :-: | :-: | :--: |
|    ✅   | `tests/index.test.ts`        |   1   |  1  |  0  |  0  |  4ms |
|    ✅   | `tests/issues.test.ts`       |   3   |  3  |  0  |  0  |  7ms |
|    ✅   | `tests/main.test.ts`         |   6   |  6  |  0  |  0  | 17ms |
|    ✅   | `tests/pull_request.test.ts` |   3   |  3  |  0  |  0  |  4ms |
|    ✅   | `tests/utils.test.ts`        |   24  |  24 |  0  |  0  |  5ms |
