# Tests Report

![Tests badge](tests-badge.svg)

## Summary

- **Total Tests**: 44
- **Test Suites**: 25
- **Duration**: 386ms

## Test Suites

| Status | File                         | Tests |  ✅  |  ❌  |  ⏭️ |   ⏳  |
| :----: | :--------------------------- | :---: | :-: | :-: | :-: | :--: |
|    ✅   | `tests/index.test.ts`        |   1   |  1  |  0  |  0  |  4ms |
|    ✅   | `tests/issues.test.ts`       |   3   |  3  |  0  |  0  |  6ms |
|    ✅   | `tests/main.test.ts`         |   6   |  6  |  0  |  0  | 11ms |
|    ✅   | `tests/pull_request.test.ts` |   5   |  5  |  0  |  0  |  6ms |
|    ✅   | `tests/utils.test.ts`        |   29  |  29 |  0  |  0  | 11ms |
